@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

$bodyBackground: hsl(0, 0%, 95%);
$paragraphColor: hsla(0, 0%, 100%, 0.75);
$background1: hsl(31, 77%, 52%);
$background2: hsl(184, 100%, 22%);
$background3: hsl(179, 100%, 13%);

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: 15px;
  background: $bodyBackground;
}

/* If window is smaller than 700px */
@media only screen and (min-width: 700px) {
  main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-container {
    width: 62rem;
    height: 34rem;
    display: flex;
    margin: 1rem;
  }

  article {
    height: 100%;
    padding: 1.5rem;
  }

  .info {
    padding: 0 2.1rem;
    height: 60%;
    width: 100%;

    p {
      color: $paragraphColor;
      font-family: "Lexend Deca", sans-serif;
      line-height: 1.5rem;
      font-size: 0.9rem;
    }

    h1 {
      color: $bodyBackground;
      font-family: "Big Shoulders Display", cursive;
      font-size: 2.5rem;
      text-transform: uppercase;
      line-height: 0;
    }
  }

  .button {
    margin: 0 2rem;

    :hover {
      color: rgb(0, 191, 255);
      transform: scale(1.05);
      transition: 0.1s ease-in-out;
      cursor: pointer;
    }
  }

  button {
    font-family: "Lexend Deca", sans-serif;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    border-style: none;
  }

  .container-1 {
    background-color: $background1;
    flex: 1;
    border-radius: 0.8rem 0 0 0.8rem;
    min-width: 20rem;

    button {
      color: $background1;
    }
  }

  .container-2 {
    background-color: $background2;
    flex: 1;
    width: 100%;
    min-width: 20rem;

    button {
      color: $background2;
    }
  }

  .container-3 {
    background-color: $background3;
    flex: 1;
    border-radius: 0 0.8rem 0.8rem 0;
    min-width: 20rem;

    button {
      color: $background3;
    }
  }
}

/* If window is smaller than 700px */
@media only screen and (max-width: 700px) {
  main {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-container {
    width: 62rem;
    height: 34rem;
    display: flex;
    flex-direction: column;
    margin: 1rem;
  }

  article {
    height: 100%;
    padding: 1rem;
  }

  .info {
    padding: 0 2.1rem;
    height: 50%;
    width: 100%;

    p {
      color: $paragraphColor;
      font-family: "Lexend Deca", sans-serif;
      line-height: 1.5rem;
      font-size: 1rem;
    }

    h1 {
      color: $bodyBackground;
      font-family: "Big Shoulders Display", cursive;
      font-size: 2.5rem;
      text-transform: uppercase;
      line-height: 0;
      margin: 3rem 0;
    }
  }

  .button {
    margin: 0 2rem;

    :hover {
      color: rgb(0, 191, 255);
      transform: scale(1.05);
      transition: 0.1s ease-in-out;
      cursor: pointer;
    }
  }

  button {
    font-family: "Lexend Deca", sans-serif;
    padding: 0.8rem 2rem;
    border-radius: 2rem;
    font-size: 1rem;
    border-style: none;
  }

  .container-1 {
    background-color: $background1;
    border-radius: 0.8rem 0.8rem 0 0;
    min-width: 20rem;
    padding: 1.5rem 0;

    button {
      color: $background1;
    }
  }

  .container-2 {
    background-color: $background2;
    width: 100%;
    min-width: 20rem;
    padding: 1.5rem 0;

    button {
      color: $background2;
    }
  }

  .container-3 {
    background-color: $background3;
    border-radius: 0 0 0.8rem 0.8rem;
    min-width: 20rem;
    padding: 1.5rem 0;

    button {
      color: $background3;
    }
  }
}
